<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :collaborator %><br>
    <%= f.check_box :collaborator, :class => 'checkbox'  %>
  </div>
  <div class="field form-group">
    <%= f.label :skillset %><br>
    <%= f.text_area :skillset, :class => 'form-control'  %>
  </div>
  <div class="field form-group">
    <%= f.label :rating %><br>
    <%= f.text_field :rating, :class => 'form-control'  %>
  </div>
  <div class="field form-group">
    <%= f.label :hiring_status %><br>
    <%= f.check_box :hiring_status, :class => 'checkbox'  %>
  </div>
  <div class="field form-group">
    <%= f.label :account %><br>
    <%= f.text_field :account, :class => 'form-control'  %>
  </div>
  <div class="actions form-group">
    <%= f.submit :class => 'submit btn btn-primary'%>
  </div>
<% end %>
