<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Collaborator:</strong>
  <%= @user.collaborator %>
</p>

<p>
  <strong>Skillset:</strong>
  <%= @user.skillset %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Hiring status:</strong>
  <%= @user.hiring_status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @user.account %>
</p>

<table class="table">

  <thead>
    <tr class="success col-md-4">  
      <th>Job</th>
      <th>Project</th> 
      <th colspan="2"></th> 
    </tr>
  </thead>

  <tbody>
    <% @user.jobs.each do |job| %>
      <tr class="middle col-md-4">
        <td><%= link_to job.job_type, job %></td>
        <td><%= link_to job.project.name, job.project %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
