<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>
<!-- should we add list of users working for the project? -->

<p>
  <strong>Job:</strong>
</p>
<ul>
	<% @project.jobs.each do |job| %>
		<li><%= link_to job.job_type, job %></li>
	<% end %>
</ul>

<p class="btn btn-primary"><%= link_to 'Add New Job', new_job_path %></p>

<p><%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %></p>
